    <meta charset="utf-8">
    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="stylesheets/style.css" rel="stylesheet">
    <script>var OSASG = {};</script>
    <title><%= title %></title>