<!DOCTYPE html>
<html lang="en">.

  <head>
<%- include header.ejs %>
  </head>

  <body>
    <h1><%= title %></h1>
    <div class=intro>
      <p>Welcome <%= username %>!</p>
      <p>This website is still under construction.</p>
      <p>View progress on <a href="https://github.com/djmclaugh/OSASG">GitHub</a>.</p>
    </div>
  </body>
  
</html>