<!DOCTYPE html>
<html lang="en">
  <head>
<%- include header.ejs %>
    <script src="javascript/games/game.js"></script>
    <script src="javascript/games/connect6.js"></script>
    <script src="javascript/guis/connect6_gui.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <h1><%= title %></h1>
    <div class=intro>
      <p>Welcome <%= username %>!</p>
      <p>This website is still under construction.</p>
      <p>View progress on <a href="https://github.com/djmclaugh/OSASG">GitHub</a>.</p>
    </div>
    <div class=game_container>
      <canvas class=gameGUI id="gameCanvas" width=800 height=500></canvas>
    </div>
    <script>
      var gameCanvas, cpCanvas, socket, game, gameGUI, cp ;
      
      window.onload = function main() {
        gameCanvas = document.getElementById("gameCanvas");
	      socket = io();
        init();
        tick();
      }

      function init() {
      	gameGUI = new GameGUI(socket, gameCanvas);
      }

      function tick() {
	      window.requestAnimationFrame(tick);
      	gameCanvas.getContext("2d").clearRect(0, 0, gameCanvas.width, gameCanvas.height);
	      gameGUI.draw();
      }
    </script>
  </body>
  
</html>