<!DOCTYPE html>
<html lang="en" ng-app="osasg">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link href="stylesheets/style.css" rel="stylesheet">
    <title><%= title %></title>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js'></script>
    <script src="/javascript/osasg_client.js"></script>
  </head>

  <body>
    <h1><%= title %></h1>
    <div class=intro>
      <p>Welcome <%= username %>!</p>
      <p>This website is still under construction.</p>
      <p>View progress on <a href="https://github.com/djmclaugh/OSASG">GitHub</a>.</p>
    </div>
    <h2>Matches:</h2>
    <div ng-controller="LobbyController as lobby">
      <p class="error" ng-show="lobby.error != null">{{ lobby.error.message }}</p>
      <div ng-repeat="match in lobby.matches">
        <p>
          {{ match.id }} - 
          {{ match.p1Username ? match.p1Username : "EMPTY" }} vs 
          {{ match.p2Username ? match.p2Username : "EMPTY" }}: 
          <button ng-click="lobby.openWindow(match.id)">JOIN</button>
        </p>
      </div>
      <p><button ng-click="lobby.createMatch('Connect6')">New Connect6 Match</button></p>
      <p><button ng-click="lobby.createMatch('Tictactoe')">New Tictactoe Match</button></p>
    </div>
  </body>
  
</html>
