<!DOCTYPE html>
<html lang="en" ng-app="osasg">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <title><%= title %></title>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js'></script>
    <script src="/javascript/osasg_client.js"></script>
  </head>

  <body class=match-window>
    <asg-match class=match-container match-id="<%= id %>"></asg-match>
  </body>
</html>
