<!DOCTYPE html>
<html lang="en" ng-app="osasg">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <title>User Settings</title>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js'></script>
    <script src="/javascript/osasg_client.js"></script>
  </head>
  <body>
    <h1>User Settings</h1>
    <p><a href="/">Home</a></p>
    <asg-login username="<%= username %>"></asg-login>
    <asg-username-change username="<%= username %>"></asg-username-change>
  </body>
</html>