<h3>{{match.id}}</h3>
<span ng-if="match.p1 != null">
  <p>P1: {{match.p1.username}}</p>
  <p><asg-timer time-source="p1TimeRemaining"></asg-timer></p>
</span>
<span ng-if="match.p1 == null">
  <p>P1:
    <button ng-click="match.sit(1)">Join as P1</button>
    <span ng-repeat="bot in cpCtrl.availableBots">
      <button ng-click="match.requestBot(bot.identifier, 1)">Add {{bot.username}}</button>
    </span>
  </p>
</span>
<span ng-if="match.p2 != null">
  <p>P2: {{match.p2.username}}</p>
  <p><asg-timer time-source="p2TimeRemaining"></asg-timer></p>
</span>
<span ng-if="match.p2 == null">
  <p>P2:
    <button ng-click="match.sit(2)">Join as P2</button>
    <span ng-repeat="bot in cpCtrl.availableBots">
      <button ng-click="match.requestBot(bot.identifier, 2)">Add {{bot.username}}</button>
    </span>
  </p>
</span>
<p ng-if="match.p1 && match.p2" ng-switch="match.game.getStatus()">
  <span ng-switch-when="GAME_STATUS_UNDECIDED">
    {{match.game.whosTurnIsIt() == match.game.PLAYER_ENUM.P1 ? "P1" : "P2"}} to play
  </span>
  <span ng-switch-when="GAME_STATUS_DRAW">
    Game Over! DRAW!
  </span>
  <span ng-switch-when="GAME_STATUS_P1_WIN">
    Game Over! P1 wins!
  </span>
  <span ng-switch-when="GAME_STATUS_P2_WIN">
    Game Over! P2 wins!
  </span>
</p>
<p ng-if="!match.p1 || !match.p2">
  Waiting for more players to join
</p>
<p>
  <button ng-disabled="!match.isReadyToCommit()" ng-click="match.submitMove()">Send Move</button>
</p>
