<span ng-show="username | isGuest">
  <h3>Log In</h3>
  <p>To log in, simply enter your email address and you'll receive a link to your existing or newly created account.</p>
  <form name="loginForm" ng-controller="LoginFormController as formCtrl" ng-submit="formCtrl.submit()">
    <div ng-hide="formCtrl.emailSent || formCtrl.isSubmiting">
      <p>
        <label for="email">Email:</label>
        <input id="email" ng-model="formCtrl.email" type="email">
      </p>
      <div class="g-recaptcha" data-sitekey="6LcvvR4TAAAAAFp2fvR0WwHl1vDVKvfH1OQZUGtF"></div>
      <p class="error" ng-show="formCtrl.error != null">{{ formCtrl.error.message }}</p>
      <p><input type="submit" ng-disabled="formCtrl.isSubmitting" value="Login"></p>
    </div>
    <p ng-show="formCtrl.isSubmitting"><strong>Login in...</strong></p>
    <p ng-show="formCtrl.emailSent"><strong>{{ formCtrl.successMessage }}</strong></p>
  </form>
</span>
<span ng-hide="username | isGuest">
  <h3>Log Out</h3>
  <p>You are currently logged in as {{ username }}.</p>
  <form action="/logout">
    <p><input type="submit" value="Logout"></p>
  </form>
</span>