<span ng-hide="username | isGuest">
  <form name="usernameChangeForm" ng-controller="UsernameChangeFromController as formCtrl" ng-submit="formCtrl.submit()">
    <h3>Change Username</h3>
    <p>
     <label for="desired-username">Desired Username:</label>
     <input id="desired-username" ng-model="formCtrl.desiredUsername" type="text" ng-disabled="formCtrl.isSubmitting">
   </p>
   <p class="error" ng-show="formCtrl.error != null">{{ formCtrl.error.message }}</p>
   <p ng-show="formCtrl.successMessage != null"><strong>{{ formCtrl.successMessage }}</strong></p>
   <p><input type="submit" value="Submit" ng-disabled="formCtrl.isSubmitting"></p>
  </form>
</span>