body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F6F6F6;
}

.match-window {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  margin: 0;
  padding: 0;
  display: block;
}

h1, h2 {
  text-align: center;
}

p {
  text-align: center;
}

.error {
  color: red;
}

.game-container {
  width: 800px;
  margin: 0 auto;
}
