<h3>{{ title() }}</h3>
<span *ngIf="matchData">
  <p *ngFor="let player of matchData.players; let i = index">
    P{{ i + 1 }}:
    <span *ngIf="matchData.players[i]">{{ matchData.players[i].username }}</span>
    <span *ngIf="!matchData.players[i]">
      <button (click)="selectSeat(i)">Play as P{{ i + 1 }}</button>
      <button *ngFor="let profile of availablePlayers()" (click)="invitePlayer(profile.identifier, i)">{{ profile.username }}</button>
    </span>
  </p>
  <p *ngIf="isWaitingForPlayers()">
    Waiting for more players to join
  </p>
  <p>
    <button *ngIf="winners() == null" [disabled]="!hasMoveToSubmit" (click)="submitMove()">Submit Move</button>
    <strong *ngIf="winners() != null">{{winnersString()}}</strong>
  </p>
</span>
